button windowtitle label.subtitle {
    font-weight: normal;
}

list.navigation-sidebar row menubutton button {
  min-width: 0;
  min-height: 0;
}

list.navigation-sidebar row:not(:selected) menubutton button image {
  color: alpha(currentColor, 0.33);
}

entry.new-profile-entry {
  background-color: transparent;
}

streamdeckbuttonwidget:selected {
  background-color: transparent;
}

streamdeckbuttonwidget:selected > picture {
  outline: 2px solid @accent_color;
}

streamdeckbuttonwidget:selected:focus:focus-visible {
  outline: none;
}

streamdeckbuttonwidget:drop(active) {
  box-shadow: none;
}

streamdeckbuttonwidget:drop(active) picture {
  background-color: alpha(@card_bg_color, 2.0);
  filter: brightness(125%);
  transition: 250ms;
}

streamdeckbuttoneditor .cutout {
  background-color: @window_bg_color;
  border-radius: 9999px;
  padding: 2px;
}

popover.custom-icon-popover > contents {
  padding: 0;
}

popover.custom-icon-popover gridview {
  background-color: @popover_bg_color;
}

popover.custom-icon-popover gridview,
popover.custom-icon-popover gridview image {
  padding: 12px;
}

/* Dials */
streamdeckdialwidget {
  min-width: 72px;
  min-height: 72px;
  border-radius: 9999px;
  background-color: @card_bg_color;
}

/* Touchscreen */
touchscreenslotwidget {
  outline-color: transparent;
  outline-offset: -2px;
  transition: outline 250ms;
}

touchscreenslotwidget:first-child,
touchscreenslotwidget:dir(rtl):last-child {
  border-top-left-radius: calc(var(--window-radius) - 3px);
  border-bottom-left-radius: calc(var(--window-radius) - 3px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

touchscreenslotwidget:last-child,
touchscreenslotwidget:dir(rtl):first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: calc(var(--window-radius) - 3px);
  border-bottom-right-radius: calc(var(--window-radius) - 3px);
}

touchscreenslotwidget:selected {
  outline: 2px solid @accent_color;
}

touchscreensloteditor box.header {
  margin-left: 12px;
  margin-right: 12px;
  border-spacing: 6px;
}

row.touchscreen-background {
  padding: 0;
  min-height: 50px;
}
